{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row py-4">
            <div class="col-12 text-center mb-4">
                <h1>
                    {{ member.name }}
                </h1>
            </div>
        </div>
    </div>

    {% if toto is defined %}
        
    {% else %}

    {% endif %}
{% endblock body %}