{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Bonjour je m'appelle Mr {{ lastName }}
                </h1>
            </div>
        </div>
    </div>

{% endblock body %}


{% block footer %}
    {% embed "partials/base/footer.html.twig" %}
        {% block contact %}
            Utilisation de embed
        {% endblock contact %}
    {% endembed %}
{% endblock footer %}


