{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mentions légales</h1>

    <h2>Titre de la section</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eum facere, nesciunt quo reprehenderit sapiente soluta. Beatae laudantium, quod. A accusantium animi asperiores aspernatur dicta dolores, dolorum ducimus eius eos est fugiat fugit ipsam ipsum labore laboriosam magnam maxime minus necessitatibus nemo odit omnis, possimus, quae quam qui quidem ratione rerum soluta suscipit tempora ullam! A ab, aliquam asperiores assumenda atque beatae dignissimos dolor dolorem doloribus earum eligendi est fugiat laborum maxime molestiae mollitia, nam neque nesciunt nihil nisi odit officiis perferendis perspiciatis placeat provident quam quos repellendus repudiandae similique temporibus velit veniam voluptas, voluptates. Impedit inventore iusto maiores velit.
    </p>

    <h2>Titre de la section</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eum facere, nesciunt quo reprehenderit sapiente soluta. Beatae laudantium, quod. A accusantium animi asperiores aspernatur dicta dolores, dolorum ducimus eius eos est fugiat fugit ipsam ipsum labore laboriosam magnam maxime minus necessitatibus nemo odit omnis, possimus, quae quam qui quidem ratione rerum soluta suscipit tempora ullam! A ab, aliquam asperiores assumenda atque beatae dignissimos dolor dolorem doloribus earum eligendi est fugiat laborum maxime molestiae mollitia, nam neque nesciunt nihil nisi odit officiis perferendis perspiciatis placeat provident quam quos repellendus repudiandae similique temporibus velit veniam voluptas, voluptates. Impedit inventore iusto maiores velit.
    </p>
{% endblock body %}

