html body {
    font-family: sans-serif
}
.message {
    box-shadow: 2px 3px 3px lightgrey;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.dead {
    background-color: #bd1414;
    color: white;
}

.spell {
    background-color: #f8c500;
}

.heal {
    background-color: #23db23;
}